@import url("baseline.reset.css");
.invisible { position: absolute; top: -3000em; height: 1%; }

html,body { height: 100%; margin: 0; padding: 0px; overflow:hidden;}
#barreHaute { background-color: blue; width: 100%; height: 15%; overflow: hidden;}

.col {
width:50%; 
overflow-y: scroll;
overflow-x: hidden;
height: 85%;
float: left;

}
.contenu { padding: 2em;}

/* typo */

h1 { font-size: 3em;}
h2 { font-size: 1em;}