/*
 * www.g-u-i.net
 */
.clear-after:after {
  clear: both;
  content: '';
  display: block;
  height: 0px;
  overflow: hidden;
  visibility: hidden;
  width: 0px;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
body {
  font-family: helvetica, arial, sans;
  margin: 0;
}
body h1 {
  font-size: 36px;
  text-align: center;
  margin-right: 64px;
}
body #inc-projet {
  border: 0;
  position: absolute;
  right: 0;
  width: 70%;
  height: 100%;
}
body #coverflow {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0;
  margin: 0;
  background-color: white;
  width: 30%;
}
body #coverflow #titre {
  font-size: 24px;
  font-weight: bold;
  padding: 32px;
  text-transform: uppercase;
}
body #coverflow li {
  overflow: hidden;
  margin: 0;
  list-style: none;
  float: left;
  width: 25%;
}
body #coverflow li img {
  width: 100%;
}
