body {
	background-color:#BEBEBE;
	font-family:Geneva;
	color:#404040
}

h1 {
	font-family:Geneva;
	font-weight:700;
	font-size:2em;
	text-align:left;
}

a {
	color:#404040;
	text-decoration:none
}

body.capture {
	background-repeat:no-repeat
}


/* CAPTURE */
.capture {
}

.capture small {
	font-family:Monaco,courrier,monospace;
	font-size:10px
}

.capture .carton {
	position:absolute;
	bottom:0;
	right:0;
	padding:2%
}
.capture .carton:hover {
background-color:#BEBEBE;
}

.capture .bouton {
	position: absolute;
	top:0;
	left: 0;
	
	width: 100%;
	height: 80%;
	display: block;
}

/* PROFIL */

.profil { padding: 10%;}